*{
    box-sizing: border-box;
}
@font-face {
    font-family:"Roboto-Bold" ;
    src: url(../fontes/Roboto-Bold.ttf);
}

body{
    background-color: #eef9bf;
    font-family: "Roboto-Bold" ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 56px;
    color: #75B79E;
}

.disappear{
    opacity: 0;
}
.appear{
    opacity: 1;
}

.jogo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-top: 17px;
}

.cartas{
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 37px;
    border: 1px solid #99CEA8;
    position: relative;
    transition: transform 500ms;
    transform-style: preserve-3d;
}
.cartas:hover{
    cursor: pointer;
}
/*.cartas:active{
    transform: rotateY(180deg);
}*/
.permanecer-virada, .virei {
    transform: rotateY(180deg);
}

img{
    width: 100px;
    height: 100px;
    position:absolute;
    backface-visibility: hidden; 
}

.gif{
    transform: rotateY(180deg);
}

@media(max-width:600px){
    .titulo{
        font-size: 39px;
        max-width: 350px;
        text-align: center;
    }
    .jogo{
        width: 50vw;
    }
}